
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h1 style="color:red;"> Avis Biludlejning</h1>
    <form method="post">
        Username:
        <br>
        <input maxlength="10" type="text" name="useBX" />
        <br>
        Password:
        <br>
        <input maxlength="10" type="text" name="passBX" />
        <br>
        <br>
        <input type="submit" name="loginBTN" id="loginBTN" value="Login" />
    </form>
</body>
</html>
